.container-fluid, img{
    height: 200px;
    width: 200px;
 }
.row1{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}   
.row2{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}   
.row3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}   
